<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Simple Sprint Burndown</title>
	
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="/js/burndown.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>

				<div class="row">
					<div class="col-md-10"></div>
					<div class="col-md-2" align="right" style="padding: 0px">
						<button class='btn btn-primary' id='bt-new-burndown'><i class='glyphicon glyphicon-plus'></i> New burndown</button>
					</div>
				</div>

				<div class="row">&nbsp;</div>
				
				<div class="row">
					<div id="form-burndown" style="display: none;">
						<form id="form-fields" action="" class="validate">
		                    <div class="panel panel-default">
		                        <div class="panel-heading"><h6 class="panel-title"><i class="icon-pagebreak"></i> Burndown</h6></div>
		                        <div class="panel-body">
		                            <div class="form-group">
		                                <div class="row">
		                                    <div class="col-md-3">
		                                        <label>Name <span style="color:#F00;">*</span></label>
		                                        <input type="text" class="form-control required" id="name" name="name" maxlength="100">
		                                    </div>
		                                    <div class="col-md-3">
		                                        <label>Start <span style="color:#F00;">*</span></label>
		                                        <input type="date" class="form-control required" id="start" name="start" maxlength="100">
		                                    </div>
		                                    <div class="col-md-3">
		                                        <label>End <span style="color:#F00;">*</span></label>
		                                        <input type="date" class="form-control required" id="end" name="end" maxlength="100">
		                                    </div>
		                                    <div class="col-md-3">
		                                        <label>Total tasks <span style="color:#F00;">*</span></label>
		                                        <span id='span-keep-tasks' style="display: none; right: 16px; position: absolute">keep existing tasks <input type="checkbox" id='keep-tasks' checked></span>
		                                        <input type="number" class="form-control required" id="numberTasks" name="numberTasks" maxlength="100">
		                                    </div>
		        						</div>
		        						
		        						<div class="row">&nbsp;</div>
		        						
		        						<div class="row">
		                                    <div class="col-md-9"></div>
		                                    <div class="col-md-3" align="right">
		                                        <a class='btn' id='bt-cancel'>Cancel</a>
		                                        <input type="submit" class='btn btn-primary' value="Save">
		                                    </div>
		                                    
		        						</div>
		                            </div>
		                        </div>
		                    </div>
		                </form>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><h6 class="panel-title">List of dashboards</h6></div>
						<table class="table table-hover" id="table-burndown">
							<thead>
								<tr>
									<th width='40%'><div align='center'>Name</div></th>
									<th width='20%'><div align='center'>Start</div></th>
									<th width='20%'><div align='center'>End</div></th>
									<th width='10%'><div align='center'>Total tasks</div></th>
									<th width='10%'></th>
								</tr>
							</thead>
						</table>
					</div>
					<div style="margin: 0px; padding: 0px">
						<h6>**Click into element of list to use burndown.</h6>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>