<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Simple Sprint Burndown</title>
	
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="/js/burndown.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				<div class="row">&nbsp;</div>
				
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><h6 class="panel-title">List of dashboards</h6></div>
						<table class="table table-hover" id="table-burndown">
							<thead>
								<tr>
									<th width='40%'><div align='center'>Name</div></th>
									<th width='20%'><div align='center'>Start</div></th>
									<th width='20%'><div align='center'>End</div></th>
									<th width='10%'><div align='center'>Total tasks</div></th>
									<th width='10%'></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>